<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
    <title>Document</title>
    <style>
        .verde {
            background-color: green;
        }

        .branco {
            background-color: white;
        }

        .negrito {
            font-weight: bold;
        }
        
        .azul {
            background-color: blue;
        }

        .vermelho {
            background-color: red;
        }


        .borda{
            border: 1px solid;
        }

        .div-principal {
            width: 200px;
            height: 200px;
        }


        .div-comum {
            width: 50px;
            height: 50px;
        }

    </style>
</head>
<body>
    <div id="app">

        <!-- renderização condicional -->
        <template v-if="saudacao">
            <h1>Boas-vindas</h1>
            <p> Conteúdo da tag <strong>Template</strong></p>
        </template>

        <ul>
            <template v-for="n in 10">{{n}}
            <p>2 x {{n}} = {{2*n}}</p>
            </template>
        </ul>

        

        <!-- trabalhando com laços de repetição -->
        <ul>
            <li v-for="c in comentarios">{{c.id}} - {{c.comentario}}</li>
        </ul>
        <button @click="adicionarElemento()">add elemento</button>
        <button @click="removerElemento()">remover elemento</button>
        <button @click="modificarElemento()">Modificar elemento</button>
        <hr>

        <ul>
            <li v-for="n in 5">{{n}}</li>
        </ul>

        <!-- laço de repetição v-for -->
        <ul>
            <li v-for="(curso, chave) in cursos" v-text="chave +' - '+ curso"></li>
            <li v-for="(curso, chave) in cursos">{{chave}} - {{curso}}</li> sen ultilizar o v-text 
        </ul>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, chave) in cursos2">
                    <td>{{ chave }}</td>
                    <td>{{ curso.titulo }}</td>
                    <td>{{ curso.descricao }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <ul>
            <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom: 10px;" :key="p.id">
                <div>
                    {{ p.publicacao }}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>
        <button @click="misturarArray()">Misturar Pub</button

    </div>

    <script>

    /** trabalhando com laços de repetição */
        
    const vm = new Vue({

    el: '#app',
    data: {
        comentarios: [
            {id: 1, comentario: 'coment 1'},
            {id: 2, comentario: 'coment 2'},
            {id: 3, comentario: 'coment 3'},
        ],
        cursos: ['Laravel', 'Web Completo', 'Banco de dados', 'Solid', 'Angula'],
        cursos2: {
            1000: { titulo: 'Laravel', descricao: 'Domine o framework PHP'},
            1001: { titulo: 'Banco de dados', descricao: 'Aprenda os principais BDs'}
        },
        publicacoes: [
            { id: 1, publicacao: 'Pub 1'},
            { id: 2, publicacao: 'Pub 2'},
            { id: 3, publicacao: 'Pub 3'}
        ]
    },
    methods: {
            misturarArray() {
                let misturado = []

                misturado[0] = this.publicacoes[2]
                misturado[1] = this.publicacoes[0]
                misturado[2] = this.publicacoes[1]
                
                this.publicacoes = misturado
            },
            adicionarElemento() {
                //this.comentarios[3] = {id: 4, comentario: 'Novo Comentário'}
                //console.log(this.comentarios)
                this.comentarios.push({id: 4, comentario: 'Novo Comentário'})
            },
            removerElemento() {
                this.comentarios.pop()
            },
            modificarElemento() {
                //this.comentarios[1] = {id: 2, comentario: 'Comentario 2 atualizado'}
                //console.log(this.comentarios)
                this.$set(this.comentarios, 1, {id: 2, comentario: 'Comentário 2 atualizado'})
            }
    }
    });



    </script>
</body>
</html>